<%= form_for(@operation_setting) do |f| %>
  <% if @operation_setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@operation_setting.errors.count, "error") %> prohibited this operation_setting from being saved:</h2>

      <ul>
      <% @operation_setting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :identifier %><br />
    <%= f.text_area :identifier %>
  </div>
  <div class="field">
    <%= f.label :default_value %><br />
    <%= f.text_area :default_value %>
  </div>
  <div class="field">
    <%= f.label :display %><br />
    <%= f.text_area :display %>
  </div>
  <div class="field">
    <%= f.label :operation_type %><br />
    <%= f.select :operation_type, OperationType.order( :name ).all %>
  </div>
  <div class="field">
    <%= f.label :export %><br />
    <%= f.check_box :export %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
