\|-
\! colspan="4"| #{subject}
\|-
= render partial: "range", locals: { range_name: "Experience", identifier1: "Min#{subject}XP", identifier2: "Max#{subject}XP" }
= render partial: "range", locals: { range_name: "Rating", identifier1: "Min#{subject}Rating", identifier2: "Max#{subject}Rating" }
\|-
