\|-
\! colspan="8"| #{subject}
\|-
= render partial: "standard_setting", locals: { name: "Max Tonnage Per Unit", identifier: "Max#{subject}UnitTonnage" }
= render partial: "standard_setting", locals: { name: "Minimum Walking MP", identifier: "Min#{subject}Walk" }
= render partial: "standard_setting", locals: { name: "Minimum Jumping MP", identifier: "Min#{subject}Jump" }
= render partial: "standard_setting", locals: { name: "Maximum Jumping MP", identifier: "Max#{subject}Jump" }
\|-
