\== Force Description ==
\==== Army Composition ====
\{| width="80%"
= render partial: "army_composition", locals: { subject: "Attacker" }
= render partial: "army_composition", locals: { subject: "Defender" }
\|}
\==== Unit Restrictions ====
\{| width="80%"
= render partial: "unit_restrictions", locals: { subject: "Attacker" }
= render partial: "unit_restrictions", locals: { subject: "Defender" }
\|}
\== Operation Description ==
\==== Valid Targets ====
\{| width="80%"
= render partial: "standard_setting", locals: { name: "Only Non-Capital Worlds", identifier: "OnlyAgainstNonHomeWorlds" }
= render partial: "standard_setting", locals: { name: "Only Non-Factory Worlds", identifier: "OnlyAgainstNonFactoryWorlds" }
\|-
= render partial: "standard_setting", locals: { name: "Only Factory Worlds", identifier: "OnlyAgainstFactoryWorlds" }
= render partial: "standard_setting", locals: { name: "Only Capital Worlds", identifier: "OnlyAgainstHomeWorlds" }
\|}
\==== Deployment ====
\{| width="80%"
= render partial: "standard_setting", locals: { name: "Random", identifier: "RandomDeployment" }
= "| Chance for Edge for both armies:"
= "| #{ any_values?( [ "DeployNorthwest", "DeployNorth", "DeployNortheast", "DeployWest", "DeployEast", "DeploySouthwest", "DeploySouth", "DeploySoutheast" ] ) ? "true" : "false" }"
\|-
= "| Chance for Deep:"
= "| #{ any_values?( [ "DeployNorthwestdeep", "DeployNorthdeep", "DeployNortheastdeep", "DeployWestdeep", "DeployEastdeep", "DeploySouthwestdeep", "DeploySouthdeep", "DeploySoutheastdeep" ] ) ? "true" : "false" }"
= "| Chance for one army Center and one army Edge:"
= "| #{ value?( "DeployCenter" ) ? "true" : "false" }"
\|}
\==== Participants ====
\{| width="80%"
= render partial: "participants", locals: { subject: "Attacker" }
= render partial: "participants", locals: { subject: "Defender" }
\|}
